// Variables
// -----------------------------------------------------------------------------

// Breakpoints
// --------------------------------------------------

$screen-xs:       480px;
$screen-xs-max:   479px;
$screen-xm:       600px;
$screen-sm:       768px;
$screen-md:       1024px;
$screen-lg:       1200px;

// Colors
// --------------------------------------------------

$dark-grey:       #424242;
$mid-grey:        #c4c4c4;
$light-grey:      #f1efef;